In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/line-list-south-africa.csv",)

In [3]:
df['date' ] = pd.to_datetime(df['date'], dayfirst=True)

In [4]:
df.head()

,case_id,origin_case_id,date,age,gender,city,province/state,country,current_status,source,symptoms,date_onset_symptoms,date_admission_hospital,date_confirmation,underlyng_conditions,travel_history_dates,travel_history_location,death_date,notes_for_discussion
0,1,NaN,2020-03-05,38.0,male,NaN,KZN,South Africa,NaN,github.com/dsfsi/covid19za,NaN,NaN,NaN,NaN,NaN,NaN,Travelled to Italy,NaN,NaN
1,2,NaN,2020-03-07,39.0,female,NaN,GP,South Africa,NaN,github.com/dsfsi/covid19za,NaN,NaN,NaN,NaN,NaN,NaN,Travelled to Italy,NaN,NaN
2,3,NaN,2020-03-08,38.0,female,NaN,KZN,South Africa,NaN,github.com/dsfsi/covid19za,NaN,NaN,NaN,NaN,NaN,NaN,Travelled to Italy,NaN,NaN
3,4,NaN,2020-03-09,38.0,male,NaN,KZN,South Africa,NaN,github.com/dsfsi/covid19za,NaN,NaN,NaN,NaN,NaN,NaN,Travelled to Italy,NaN,NaN
4,5,NaN,2020-03-09,38.0,female,NaN,KZN,South Africa,NaN,github.com/dsfsi/covid19za,NaN,NaN,NaN,NaN,NaN,NaN,Travelled to Italy,NaN,NaN

In [5]:
df_za = pd.read_csv("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv")
df_za['date' ] = pd.to_datetime(df_za['date'], dayfirst=True)

In [6]:
df_za.head()

,date,YYYYMMDD,EC,FS,GP,KZN,LP,MP,NC,NW,WC,UNKNOWN,total,source
0,2020-03-05,20200305,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN
1,2020-03-07,20200307,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN
2,2020-03-08,20200308,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3,NaN
3,2020-03-09,20200309,0.0,0.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,7,NaN
4,2020-03-11,20200311,0.0,0.0,5.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0,13,NaN

In [7]:
last_date_line_list = df.date.max()
last_date_line_list
df_za = df_za[df_za.date >= last_date_line_list]

In [8]:
columns = ['date','EC','FS','GP','KZN','LP','MP','NC','NW','WC','UNKNOWN','total']

In [9]:
df_za_diff = df_za[columns].diff()
df_za_diff['date'] = df_za.date
df_za_diff = df_za_diff.iloc[1:]

In [10]:
df_za_diff

Empty DataFrame
Columns: [date, EC, FS, GP, KZN, LP, MP, NC, NW, WC, UNKNOWN, total]
Index: []

In [11]:
max_case = df.case_id.max()
for row in df_za_diff.iterrows():
    for i in range(int(row[1]['total'])):
        max_case += 1
        line = df.iloc[-1].copy()
        line['case_id'] = max_case
        line['date'] = row[1]['date']
        line['source']='github.com/dsfsi/covid19za'
        df = df.append(line,ignore_index=True)

In [12]:
df.to_csv("../data/line-list-south-africa.csv",index=False)